# .env.example
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lung_analysis_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lung_analysis_db